main#contacts-main {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main#contacts-main > .app-container {
    display: flex;
    flex-direction: row;
    width: 60%;
}

main#contacts-main > .app-container > .app-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5em;
    width: 75%;
}

main#contacts-home-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0;
    width: 100%;
    height: 100vh;
}

div.contacts-home-left {
    width: 50%;
    height: 100%;
    background-color: #1877f2;
    overflow: hidden;
}

.contacts-home-logo {
    position: relative;
    left: -50%;
    width: 200%;
    height: 100%;
}

div.contacts-home-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5em;
    width: 50%;
    height: 100%;
    background-color: white;
}

div.contacts-home-right > h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: black;
}

div.contacts-home-login-signup-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0.25em;
    width: 35%;
    height: fit-content;
}

div.contacts-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.2em;
    width: 25%;
    height: 90vh;
    max-height: 90vh;
    border-right: 1px solid #333333;
    margin-right: 2em;
}

div.contacts-nav > .contacts-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #333333;
}

div.contacts-nav > .contacts-nav-link:hover {
    text-decoration: none;
}

div.contacts-nav > .contacts-nav-active-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #333333;
    color: white;
}

div.contacts-nav > hr {
    border-top: 1px solid #333333;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.contact-list-placeholder {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.contact-list-placeholder > div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.contact-list-placeholder > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
}

div.contact-list-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
    width: 100%;
    padding: 0.5em;
}

ol.contact-list
{
    list-style-type: none;
    display: block;
    width: 100%;
    padding-left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol.contact-list li.contact-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 3em;
    background-color: white;
    border: solid 1px #ced4da;
    border-radius: 10px;
    padding: 0.25em;
    margin-bottom: 0.25em;
}

ol.contact-list li.contact-list-item .contact-name {
    color: #007bff;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 0.5em;
    transition: color .15s ease-in-out;
}

ol.contact-list li.contact-list-item .contact-name:hover {
    color: #51a2f9;
    text-decoration: none;
}

ol.contact-list li.contact-list-item .action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25em;
}

ol.contact-list li.contact-list-item-separator {
    display: block;
    width: 100%;
    padding: 0.25em;
    margin-bottom: 0.25em;
    color: #3c4043;
}

div.contact-dialog-tab {
    width: 100%;
    height: fit-content;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    column-gap: 1em;
    overflow-x: hidden;
}

div.contact-dialog-form {
    width: 100%;
    display: block;
}

div.custom-textbox-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    align-items: center;
    height: 3em;
}

div.upload-image > label.upload-image-edit-button {
    display: block;
    position: absolute;
    margin-top: 90px;
    margin-left: 90px;
    cursor: pointer;
}

div.upload-image > label.upload-image-edit-button > input {
    display: none;
}

div.upload-image > label.upload-image-edit-button > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    border-radius: 50%;
    padding: 10px;
}

div.auto-complete-result {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
    width: 100%;
    padding: 0.5em;
    background-color: #9cbad0ff;
    border-radius: 10px;
}

div.auto-complete-suggestions {
    width: 100%;
    height: fit-content;
    position: absolute;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0;
    background-color: white;
    border: solid 1px #333333;
}

div.auto-complete-suggestions > a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
    display: block;
    width: 100%;
    padding: 1em;
    background-color: transparent;
    border-bottom: solid 1px #ebeef0;
}

div.search-suggestions > a:hover {
    text-decoration: none;
    background-color: #9cbad0ff;
}

div.search-suggestions {
    width: 50%;
    height: fit-content;
    position: absolute;
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0;
    background-color: white;
    border: solid 1px #333333;
}

div.search-suggestions > a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
    display: block;
    width: 100%;
    padding: 1em;
    background-color: transparent;
    border-bottom: solid 1px #ebeef0;
}

div.search-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.auto-complete-suggestions > a:hover {
    text-decoration: none;
    background-color: #9cbad0ff;
}

ul.group-dialog-contacts-list {
    list-style-type: none;
    display: block;
    width: 100%;
    min-height: 10em;
    padding-left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.group-dialog-contacts-list > li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
    margin-bottom: 0.5em;
}

div.group-dialog-contacts-list-placeholder {
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.group-dialog-contacts-list-placeholder > span {
    width: 100%;
    text-align: center;
    color: #333333;
}

ul.group-dialog-contacts-list > li > div.group-contact {
    width: 100%;
    padding: 1em;
    background-color: #9cbad0ff;
    border-radius: 10px;
}

div.user-settings-placeholder {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.user-settings-placeholder > div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.user-settings-container {
    width: fit-content;
}

div.user-settings-container > hr {
    border-top: 1px solid #333333;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.user-settings-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1em;
}

div.user-settings-user > span {
    font-size: 2em;
    font-weight: bold;
}

div.user-settings-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1em;
}

div.user-settings-actions > ul {
    display: block;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

div.user-settings-actions > ul li {
    margin-bottom: 0.5em;
}

div.user-settings-form-container {
    width: 50%;
}

div.user-settings-container > hr {
    border-top: 1px solid #333333;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.user-settings-form {
    width: 100%;
    min-height: 50vh;
}

div.user-settings-action-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.5em;
}